@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/* Custom leaflet tooltip styling */
.weather-tooltip {
  color: #fff;
  padding: 0px;
  border: none;
  background: transparent;
  box-shadow: none;
  font-family: 'Inter', sans-serif;
}

.weather-tooltip::before {
  display: none;
}

.marker-icon {
  background: none;
  border: none;
}